<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="static/style_tag.css" type="text/css">
</head>
<body>
<h1>Register page</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="post">
    <table>
        <tr>
            <td>Имя для входа</td>
            <td><input type="text" name="login" required></td>
        </tr>
        <tr>
            <td>ФИО</td>
            <td><input type="text" name="fullname" required></td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td><input type="password" name="password" required></td>
        </tr>
        <tr>
            <td>Подтверждение пароля</td>
            <td><input type="password" name="password2" required></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('login_page') + '?next=' + next }}">Войти</a></td>
            <td><input type="submit" value="Зарегистрировать"></td>
        </tr>
    </table>
</form>
</body>
</html>